<div><h1>Livrare Instrumente Muzicale</h1>

  <h2>Cost livrare - cu inregistrare date de livrare</h2>

  <p>Costul de <strong>livrare</strong> pentru comenzile în valoare de peste 399 de lei este <strong>GRATUIT </strong>spre localităţi unde există sedii ale curierilor noștri. Dacă în localitatea dumneavoastră nu există sedii ale curierilor noştri, puteţi ridica produsele de la cel mai apropiat sediu existent.&nbsp;Costul minim al unei livrări în valoare de până la 399 de lei este de 25 de lei (TVA inclus şi asigurare integrală) pentru primul kg şi de 1,2 RON (TVA inclus) pe kg suplimentar, pentru localităţile unde există sedii ale curierilor noştri.</p>

  <p>Dacă în localitatea dumneavoastră nu există sedii ale acestor curieri, costul minim al unei livrări în valoare de până la 399 de lei este de 25 de lei (TVA inclus şi asigurare integrală) pentru primul kg şi de 1,2 RON (TVA inclus) pe kg/km suplimentari.</p>

  <p>Puteţi solicita informaţii privind sediile curierilor prin trimiterea unui email la adresa <a href="mailto:customer@musicandmore.ro">customer@MemeShop.ro</a> .</p>

  <p>Livrarea la o adresă alternativă nu implică costuri suplimentare. Putem respinge o comandă atunci când considerăm că informaţiile nu sunt în conformitate cu politicile noastre de securitate. Dacă adresa pe care aţi furnizat-o nu se potriveşte cu adresa titularului de card, comanda poate fi respinsă în scopul prevenirii fraudelor de tip card de credit.</p>

  <p>Vă rugăm să rețineți, de asemena, că livrările pot să dureze uneori mai mult decât cele afișate pe site din cauza logisticii de transport sau a stocului de producător sau furnizor.</p>

  <h2>Cost livrare - fara inregistrare date de livrare(comanda rapida)</h2>

  <p>Deoarece in formatul de comanda rapidă nu veţi putea selecta adresa de livrare, costurile de transport vor fi in format default(0). Acestea vor fi anuntate dupa ce vom avea acces la informaţiile corecte/reale ale adresei&nbsp;de livrare.&nbsp;Costul minim al unei livrări în valoare de până la 399 de lei este de 25 de lei (TVA inclus şi asigurare integrală) pentru primul kg şi de 1,2 RON (TVA inclus) pe kg suplimentar, pentru localităţile unde există sedii ale curierilor noştri.</p>

  <p>Dacă în localitatea dumneavoastră nu există sedii ale acestor curieri, costul minim al unei livrări în valoare de până la 399 de lei este de 25 de lei (TVA inclus şi asigurare integrală) pentru primul kg şi de 1,2 RON (TVA inclus) pe kg/km suplimentari.</p>

  <p><strong>Cum functioneaza serviciul?</strong></p>

  <p>In momentul receptionarii comenzii poti solicita curierului deschiderea coletului pentru a verifica starea produselor comandate.</p>

  <p><strong>Deschidere la livrare:&nbsp;Nu ai posibilitatea de a testa produsul si doar de a verifica aspectul estetic al acestuia!</strong></p>

  <p>Daca in urma deschiderii coletului constati ca produsul comandat nu este în stare perfecta de livrare şi prezinta semne de lovire, zgarieturi sau alte probleme de tip estetic, chiar si pentru aspectul exterior al coletului,&nbsp;te rugam sa refuzi comanda. Trebuie sa completezi un Proces verbal de constatare, numai in prezenta curierului si doar in momentul livrarii. Procesul verbal nu mai poate fi completat dupa plecarea curierului.<br>
  Daca ai optat pentru plata ramburs, poti solicita deschiderea coletului inainte sau dupa ce ai achitat comanda dar obligatoriu in prezenta curierului.<br>
  In cazul comenzilor ce contin mai multe produse, daca in urma deschiderii coletului/coletelor constati ca unul dintre produse nu se afla in stare perfecta estetica si decizi refuzarea acestuia, procedura implica returul intregii comenzi, implicit a tuturor produselor si accesorilor livrate.</p>

  <p><strong>Limitarea serviciului</strong></p>

  <p>In cazul instrumentelor de dimensiuni mari&nbsp;precum: piane acustice, piane digitale cu o greutate de peste 50&nbsp;de kg, boxe si instalatii de sunet de peste 50 kg, stative si schele de lumini de dimensiuni agabaritice, livrarea se face doar la etajul inferior( parter) este deasemenea exclusa livrarea la demisolul sau subsolul cladirilor.</p>

  <p>Orice reclamatie ulterioara catre SC Tempo Music Impex Srl sau catre Curier, cu privire la aspectul estetic sau starea aparenta a produselor nu va fi luata in considerare.</p>
  </div>

<img src="https://static-cdn.jtvnw.net/emoticons/v1/305122509/3.0">
